body{
    background-color: aqua;/ligne 2/
    font-family: "OpenSans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;/ligne 5/
    margin: 0;
    color: black;
}
h1{
        font-size: 32px;/ligne 5/
}
.immatriculation {
    width: 120%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 2px solid black; /* Ajoute une bordure autour de l'image (facultatif) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
