body{
    background-color: aqua;/ligne 2/
    font-family: "OpenSans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;/ligne 5/
    margin: 0;
    color: black;
}
h1{
        font-size: 32px;/ligne 5/
}

.immatriculation{
    width: 60%;
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;        /* Centre img */
    border: 4px solid;
    border-image: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta);
    border-image-slice: 1;
    animation: borderAnimation 3s infinite;
}

@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta);
    }
    50% {
        border-image-source: linear-gradient(45deg, blue, magenta, red, yellow, green, cyan);
    }
    100% {
        border-image-source: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta);
    }
}
